<body class = "hero is-fullheight">
  <h1>Technical Bulletin</h1>
  <div class="createOption">  
    <button (click)="goToCreatePage()" class="button" >Create</button>>
  </div>
  <section class = "container">

    <div>
      <wj-flex-grid-search  [placeholder]="'Search'" [grid]="grid" cssMatch="">
      </wj-flex-grid-search>
    </div>

    <wj-flex-grid #grid
      [itemsSource]="serverView"
      [allowSorting]="true"
      [selectionMode]="'Row'"
      [isReadOnly]="true"
      [headersVisibility]="'Column'">

      <wj-flex-grid-filter
      [filterColumns]="['dateModified', 'bulletinId', 'topic', 'software']">
      </wj-flex-grid-filter>

      <wj-flex-grid-column
        [header]="'Date'"
        [binding]="'dateModified'"
        [width]="'*'"
        [minWidth]="100"
        align="center"
        [wordWrap]="true">
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'ID'"
        [binding]="'bulletinId'"
        [width]="100"
        [minWidth]="50"
        align="center"
        [wordWrap]="true"
        [cellTemplate] = "tpViewBulletinLink">
        <!-- [visible]="screenWidth >= 576"> -->
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'Subject'"
        [binding]="'topic'"
        [width]="'*'"
        align="center"
        [wordWrap]="true"
        cellTemplate="tpViewBulletinLink">
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'Software'"
        [binding]="'software'"
        [width]="'*'"
        align="center"
        [wordWrap]="true">
        <!-- [visible]="screenWidth >= 576"> -->
      </wj-flex-grid-column>

      <wj-flex-grid-column
            binding="bulletinId"
            header=" "
            [width]="100"
            [cellTemplate]="tpEditBulletinButton">
        </wj-flex-grid-column>
       

    </wj-flex-grid>

    <wj-collection-view-navigator
        headerFormat="Page {currentPage:n0} of {pageCount:n0}"
        [byPage]="true"
        [cv]="serverView">
    </wj-collection-view-navigator>

  </section>
</body>