<body class = "hero is-fullheight">
    <form id="loginForm">
      <br><h1>&nbsp;Please Login</h1><br>
        <div style="text-align: center;">
            <label for="username"><strong>Username:&nbsp;</strong></label>
            <input type="text" id="username" name="username" value=""><br><br>
  
            <label for="password"><strong>Password:&nbsp;</strong></label>
            <input type="text" id="password" name="password" value=""><br><br>
            <input class="button" type="submit" value="login" routerLink="/navigate-bulletins">
        </div>
    </form> 
</body>