<body class = "hero is-fullheight">
    <form [formGroup]="loginForm">
      <br><h1>&nbsp;Please Login</h1><br>
        <div class="container">
            <label for="username"><strong>Username:</strong></label>
            <input type="text" id="username" class="form-control" formControlName="username" required>

            <label for="password"><strong>Password:</strong></label>
            <input type="password" id="password" class="form-control" formControlName="password" required>

            <button class="button" id="login" type="submit"[disabled]="!loginForm.valid" routerLink="/navigate-bulletins">Login</button>
        </div>
    </form> 
</body>