<body class = "hero is-fullheight">
  <h1>Technical Bulletin</h1>
  <div>  
    <button (click)="goToCreatePage()" class="button" >Create</button>>
  </div>
  <section class = "container">
    <wj-flex-grid #grid
      [itemsSource]="serverView"
      [allowSorting]="true"
      [selectionMode]="false"
      [headersVisibility]="'Column'">

      <wj-flex-grid-column
        [header]="'Date'"
        [binding]="'dateModified'"
        [width]="'*'"
        [minWidth]="100"
        align="center"
        [wordWrap]="true">
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'ID'"
        [binding]="'bulletinId'"
        [width]="'*'"
        align="center"
        [wordWrap]="true">
        <!-- [visible]="screenWidth >= 576"> -->
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'Subject'"
        [binding]="'topic'"
        [width]="'*'"
        [minWidth]="100"
        align="center"
        [wordWrap]="true">
      </wj-flex-grid-column>

      <wj-flex-grid-column
        [header]="'Software'"
        [binding]="'software'"
        [width]="'*'"
        align="center"
        [wordWrap]="true">
        <!-- [visible]="screenWidth >= 576"> -->
      </wj-flex-grid-column>

    </wj-flex-grid>
  </section>
</body>