@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

/* You can add global styles to this file, and also import other style files */
html{ height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.button {
    background-color:#0076BC;
}

body{
    background-color: lightgray;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
  }