<body>
    <div>
        <h1>Create Bulletin</h1>
    </div>
        <section class = "container">
            <form [formGroup]="bulletinForm">

                <label class="label" for="subject">Subject<span style="color: red">*</span></label>
                <div [ngxSummernote]="config" id="subject" formControlName="subject"></div>
                
                <label class="label">Software/Versions Affected<span style="color: red">*</span></label>
                <div [ngxSummernote]="config" id="software" formControlName="software"></div>

              
                <label class="label">Symptom/Bug<span style="color: red">*</span></label>
                <div [ngxSummernote]="config" id="symptom" formControlName="symptom"></div>

                <label class="label">Solution<span style="color: red">*</span></label>
                <div [ngxSummernote]="config" id="solution" formControlName="solution"></div>

                <label class="label">Additional Notes</label>
                <div [ngxSummernote]="config" id="name" formControlName="subject"></div>

                <p><span style="color: red">*Required Field</span></p><br>
                <button type="submit" class="button" [disabled]="!bulletinForm.valid" (click)="create()">Create</button>
                <button type="submit" class="button" (click)="discard()" routerLink="/navigate-bulletins">Discard</button>
            </form> 
        </section>
    </body>
