<div class= "navbar is-light">
    <div class = "navbar-brand">
      <a class = "navbar-item" href="https://united-systems.com/">
          <img src = "assets/images/UnitedSystems.png">
      </a>
    </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="dropdown is-active">
          <div class="dropdown-trigger">
            <a class="button is-light" (click)="logOut()">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>