<body>
    <div id="mainBulletin" #mainBulletin>

        <!--Bulletin Header-->
        <div id="ImageContain">
            <img src = "assets/images/UnitedSystems.png">
        </div>
        <h1>Technical Bulletin</h1>

        <!--Bulletin Info-->
        <table>
            <!--ID-->
            <tr>
                <td>BulletinId</td>
                <td>{{selectedBulletin?.bulletinId}}</td>
            </tr>
            <!--Date-->
            <tr>
                <td>Date Created</td>
                <td>{{selectedBulletin?.dateCreated}}</td>
            </tr>
            <!--Date2-->
            <tr>
                <td>Date Modified</td>
                <td>{{selectedBulletin?.dateModified}}</td>
            </tr>
            <!--Subject-->
            <tr>
                <td>Subject</td>
                <td>{{selectedBulletin?.topic}}</td>
            </tr>
            <!--Software-->
            <tr>
                <td>Software/Versions Affected</td>
                <td>{{selectedBulletin?.software}}</td>
            </tr>
        </table>

        <!--Main Text-->
        <div class="readOut">
            <h3>Symptom/Bug</h3>
        <p>
            {{selectedBulletin?.symptom}}
        </p>
        </div>

        <div class="readOut">
            <h3>Symptom/Bug</h3>
        <p>
            {{selectedBulletin?.symptom}}
        </p>
        </div>
        
        <div class="readOut">
            <h3>Solution</h3>
        <p>
            {{selectedBulletin?.resolution}}
        </p>
        </div>
        
        <div class="readOut">
            <h3>Additional Notes</h3>
        <p>
            {{selectedBulletin?.notes}}
        </p>
        </div>
        
        <!--Bulletin Footer-->
        

    </div>

    <div class="options">
        
        <button class="button" (click)="downloadAsPDF()">Export to PDF</button>
        
        <button class="button" ngxClipboard [cbContent]="'bulletins.united-systems.com/{{testBulletin?.bulletinId}}'" (click)="copied()">Copy Link to Share</button>

        <button type="submit" class="button" routerLink="/navigate-bulletins">Back</button>

    </div>
</body>